.hidden {
    display: none;
}
body {
    text-align: center;
}
.allJojos {
    width: 50%;
}

#img0, #img1, #img2 {
    width: 20%;
}

.rememberBtnCol {
    border-color: black;
    background-color: red;
}

.rememberImgCol {
    border: 5px solid #555;
}