.hidden {
    display: none;
}

body {
    text-align: center;
}

.allJojos {
    width: 50%;
}

#img0,
#img1,
#img2 {
    width: 20%;
}

.rememberBtnCol {
    border-color: black;
    background-color: red;
}

.rememberImgCol {
    border: 5px solid #555;
}

#countdownBar {
    text-align: center;
    position: fixed;
    margin-top: 200px;
    margin-left: 70px;
    left: 100px;
    width: 500px;
    height: 10px;
    top: 100px;
    border: 2px black solid;
    background: linear-gradient(to right, red, yellow, green);
}

#timeLeft {
    text-align: center;
    float: right;
    background: lightgrey;
    height: 6px;
}

#gear {
    font-size: 50px;
}